@media (max-width: 991px) {

   
    .text-content{
        width:100%;
    }
     

    /* navbar brand */
    .navigation-wrap .navbar-brand img{
        height:3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    /* Banner Design */
    .top-banner{
        padding:9.375rem 0 9.375rem;
    }

   
     
}

@media (max-width: 767px) {

 
    h1{
        font-size:2.8rem;
    }
    h2{
        font-size:2rem;
        line-height: 2.0625rem;
    }
     

    /* top banner */
    .top-banner{
        padding:10.875rem 0 9.375rem;
    }
    

   
    

    

    /* order*/
    .order{
        width:75%;
    }
    .order .main-btn{
        width:100%;
        margin-top:1rem;
    }

    /* footer link */
    .footer .footer1,
    .footer a i{
        padding:0 0.7rem;
    }
     
}

